logs/*
.DS_Store
CMakeLists.txt.user*
CMakeFiles/*
build/*
samples/clients/java
download-keys-from-live-server.sh
samples/extensions/*/simple.so
samples/extensions/*/simple-prearchive.so
samples/extensions/*/simple-prearchive.dylib
samples/extensions/*/simple.dylib
samples/extensions/*/simple-postarchive.dylib
samples/extensions/*/simple-postarchive.dylib
samples/extensions/libresidue-extension.dylib
samples/extensions/libresidue-extension.so
